# Data Cleaning in Pandas

In [65]:
import pandas as pd

In [210]:
df = pd.read_excel(r'/home/jonathan/Downloads/Customer Call List.xlsx')

In [218]:
df = df.drop_duplicates()

In [220]:
df = df.drop(columns = 'Not_Useful_Column')

In [222]:
df['Last_Name'] = df['Last_Name'].str.lstrip('/')
df['Last_Name'] = df['Last_Name'].str.lstrip('...')
df['Last_Name'] = df['Last_Name'].str.rstrip('_')

In [240]:
#df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]', '', regex = True)

#df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

#df['Phone_Number'] = df['Phone_Number'].apply(lambda x: str(x))

#df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

#df['Phone_Number'] = df['Phone_Number'].str.replace('nan--', '')
#df['Phone_Number'] = df['Phone_Number'].str.replace('Na--', '')
#df

In [254]:
df[['Street_Address', 'State', 'Zip_Code']] = df["Address"].str.split(',', n = 2, expand = True)

In [256]:
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes', 'Y')

df['Paying Customer'] = df['Paying Customer'].str.replace('No', 'N')

In [258]:
df['Do_Not_Contact'] = df['Paying Customer'].str.replace('Yes', 'Y')

df['Do_Not_Contact'] = df['Paying Customer'].str.replace('No', 'N')

In [274]:
#df = df.replace('N/a', '')
#df = df.replace('NaN', '')
#df
#df = df.fillna('')

In [268]:
for x in df.index:
    if df.loc[x, 'Do_Not_Contact'] == 'Y':
        df.drop(x, inplace = True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,N,93 West Main Street,,
2,1003,Walter,White,,298 Drugs Driveway,N,N,298 Drugs Driveway,,
6,1007,Jeff,Winger,,1209 South Street,N,N,1209 South Street,,
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,98 Clue Drive,,
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,,
18,1019,Creed,Braton,,,,,,,

In [270]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,N,93 West Main Street,,
2,1003,Walter,White,,298 Drugs Driveway,N,N,298 Drugs Driveway,,
6,1007,Jeff,Winger,,1209 South Street,N,N,1209 South Street,,
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,98 Clue Drive,,
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,,
18,1019,Creed,Braton,,,,,,,

In [278]:
df.reset_index(drop = True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,N,93 West Main Street,,
1,1003,Walter,White,,298 Drugs Driveway,N,N,298 Drugs Driveway,,
2,1007,Jeff,Winger,,1209 South Street,N,N,1209 South Street,,
3,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,98 Clue Drive,,
4,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,214 HR Avenue,,
5,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,,
6,1019,Creed,Braton,,,,,,,